*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  sans-serif;

}
.firstPage{
    height: 100vh;
    background-image: url(./items/backgroundImg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.shadow{
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0,0.5);
    z-index: -1;
}

.navitems{
    width: 100vw;
    padding: 1.2rem 10.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.navimg img{
    width: 9.7rem;
}
.navbtns{
    display: flex;
    color: white;
    gap: 1.3rem;
    /* border: 1px solid yellow; */
    margin-right: 1.5rem;

}
#language{
    position: relative;
    border: 1px solid rgb(141, 140, 140);
    background-color: rgba(0, 0, 0, 0.662);
    border-radius: 0.2rem;
    padding: 0.2rem;
}
#language i {
    position: absolute;
    font-size: 18px;
    top: 17%;
    left: 7%;
}
.color{
    color: white;
}
select{
    width: 120px;
    text-align: center;
    padding: 0.3rem 0.7rem;
    background-color: rgba(0, 0, 0, 0.662);
    color: white;
    border: none;
    outline: none;
    font-weight: 600;
}
option {
  font-weight: 600;
}
.signin{
    padding: 0.4rem 0.9rem;
    background-color: red;
    color: white;
    border-radius: 0.2rem;
    font-weight: 600;
    text-align: center;
}
.mainheading{
    width: 100%;
    height: 85%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.heading h1{
    font-size: 48px;
    font-weight: 800;
    letter-spacing: -2px;
}
.heading h2{
    font-size: 24px;
    font-weight: 500;
    padding: 1.5rem;
    color: rgb(255, 255, 255 );
}
.heading h3{
    font-size: 20px;
    font-weight: 400;
    /* padding: 1.5rem; */
}
.emailandbtn{
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.emailandbtn div input{
    width: 360px;
    height: 55px;
    background-color: rgba(0, 0, 0, 0.632);
    border: 1px solid rgb(102, 102, 102);
    border-radius: 0.2rem;
    padding: 0.5rem;
    font-weight: 500;
    color: white;
    font-size: 20px;
}
.startbtn  {
    width: 210px;
    height: 55px;
    padding: 0.7rem 1rem;
    background-color: red;
    color: white;   
    font-size: 26px;
    font-weight: 600;
    border-radius: 0.2rem;
    text-align: center;
}
.startbtn:hover{
    background-color: rgba(226, 8, 8, 0.921);
    transition: all 0.3s;
}

/* second page */
.secondPage{
    width: 100%;
    min-height: auto;
    background-color: black;
    border-top: 8px solid #232323;
    color: white;
}
.container{
    width: 1170px;
    margin: 0 auto;
    /* height: 85vh; */
    padding: 5rem 0;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.leftpart{
    width: 50%;
    height: fit-content;
}
.leftpart h1 {
    font-size: 48px;
    font-weight: 800;
}
.leftpart h3{
    font-size: 24px;
    font-weight: 500;
    
}
.rightpart{
    width: 50%;
    position: relative;
    z-index: 1;
}
.rightpart img{
    width: 100%;
    height: 100%;
  
}
.videos{
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 10%;
    left: 6%;
}
video{
    height: 80%;
    width: 80%;
}


/* -------third page----- */
.thirdPage{
    width: 100%;
    min-height: auto;
    background-color: black;
    border-top: 8px solid #232323;
    color: white;
}
.mobile{
    width: 50%;
    position: relative;
    object-fit: contain;

}
.mobile img{
    width: 100%;
    height: 100%;
}

.upperdiv{
    position: absolute;
    top: 69%;
    left: 23%;
    border: 2px solid rgb(97, 96, 96);
    border-radius: 0.8rem;
    display: flex;
    align-items: center;
    padding: 0.7rem;
    background-color: black;
}
.upperdiv img{
    height: 80px;
    width: 60px;
    object-fit: contain;
}
.imgdiv-2{
    margin: 1rem;
    display: flex;
    align-items: center;
}
.text{
    width: 170px;
}
.text p{
    font-weight: 600;
}
.text span{
    color: #0071eb;
}
.downloadLogo i{
    font-size: 24px;
}

.mobileText{
    width: 50%;
}
.mobileText h1 {
    font-size: 48px;
    font-weight: 800;
    letter-spacing: -1px;
    line-height: 1.2;
}
.mobileText h3{
    font-size: 24px;
    font-weight: 500;
    margin-top: 1rem;
}


/* -------fourth page----- */
.fourthPage{
    width: 100%;
    min-height: auto;
    background-color: black;
    border-top: 8px solid #232323;
    color: white;
}
.container{
    width: 1170px;
    margin: 0 auto;
    /* height: 85vh; */
    padding: 5rem 0;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.movietext{
    width: 50%;
    height: fit-content;
}
.movietext h1 {
    font-size: 48px;
    font-weight: 800;
}
.movietext h3{
    font-size: 24px;
    font-weight: 500;
    
}
.movieDiv{
    width: 50%;
    position: relative;
    z-index: 1;
}
.movieDiv img{
    width: 100%;
    height: 100%;
  
}
.movieVideo{
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: -10%;
    left: 20%;
}
.movieVideo video{
    height: 90%;
    width: 60%;
}


/* fifth page  */



.fifthPage{
    width: 100%;
    min-height: auto;
    background-color: black;
    border-top: 8px solid #232323;
    color: white;
}
.container{
    width: 1170px;
    margin: 0 auto;
    /* height: 85vh; */
    padding: 5rem 0;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.childernImg{
    width: 50%;
    height: fit-content;
}
.childernImg img{
    width: 100%;
    height: 100%;
}
.childernText{
    width: 50%;
    /* padding-right: 1rem; */
    position: relative;
    z-index: 1;
}
.childernText h1 {
    font-size: 46px;
    font-weight: 800;
}
.childernText h3{
    margin-top: 1rem;
    font-size: 24px;
    line-height: 1.3;
    font-weight: 500;
    
}

/* ---sixthe page-------- */
.sixthPage{
    width: 100%;
    min-height: auto;
    background-color: black;
    border-top: 8px solid #232323;
    color: white;
}
.wraper {
    width: 100%;
    /* text-align: center; */

}
.wraper h1{
    text-align: center;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 2.5rem;
}
.cart{
    width: 100%;
    padding: 1.7rem;
    background-color: #2E2E2E;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    margin: 0.5rem;
}
.plusicon{
    font-size: 36px;
}
.close{
    display: none;
}

.wraper>p{
    text-align: center;
    margin: 3rem 0 0.5rem 0;
    font-size:22px ;
}

/* ==============footer section======== */


footer{
    width: 100%;
    min-height: auto;
    background-color: black;
    border-top: 8px solid #232323;
    color: white;


}
.outerdiv{
    width: 1170px;
    margin: 0 auto;
    /* height: 85vh; */
    padding: 5rem 0;
    background-color: transparent;
   
}

.footerDiv{
    margin-top: 1rem;
    display: flex;
    width: 85%;
    justify-content: space-between;
    text-align: left;
    list-style: 1.5;
    color: #B3B3B3;
}
ul{
    list-style: none;
}
li{
    line-height: 2;
}
a{
    color: #B3B3B3;
}
.lang{
    
    border: 1px solid red;
    width: 125px;
    position: relative;
    margin: 1.5rem 0;
    border: 1px solid rgb(141, 140, 140);
    border-radius: 0.2rem;
    padding: 0.2rem;
}
.lang > i {
    position: absolute;
    top: 16%;
    left: 5%;
}
.outerdiv>span{
    color: #B3B3B3;
}